@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;600;800;900&display=swap');

body {
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

/* BUTTON */
.btn-green {
    background-color: #5CB85C;
    color: white;
}

/* END BUTTON */

/* UTIL */
.text-green {
    color: #5CB85C;
}

.text-orange {
    color: #dab515;
}

.bg-gray {
    background-color: rgb(217, 226, 233);
}

/* END UTIL */

/* BACKGROUND */

/* END BACKGROUND */


/* HOME */
#Home {
    position: relative;
    height: 30rem;
}

#Home img {
    height: 100%;
}

#Home .wrap-desc {
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
}

#Home .wrap-desc h4 {
    font-size: 18px;
}

#Home .wrap-desc h1 {
    font-size: 28px;
}

/* END HOME */

/* SERVICE */
#Service {
    margin-top: -20%;
}

/* END SERVICE */


/* DEKSTOP */
@media (min-width: 992px) {
    #Home .wrap-desc h4 {
        font-size: 32px;
    }

    #Home .wrap-desc h1 {
        font-size: 48px;
    }

    #Service {
        margin-top: -6%;
    }
}